.carrito-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding-bottom: 100px;
  position: relative;
  /* max-height: 80vh; */
  max-height: 90%;
}

.carrito-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}

.carrito-header h2 {
  margin: 0;
  font-size: 18px;
  padding: 16px;
  font-weight: 500;
  text-align: center;
  /* Elimina width: 100% */
}

.cerrar-btn {
  background: none;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.selection-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  background: #f2f2f2;
  border-radius: 50px;
}

.selection-buttons button {
  flex: 1;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #888888;
  background-color: transparent;
  text-align: center;
  margin: 0 2px;
}

/* Botón activo */
.selection-buttons button.active {
  background-color: #3C3C3B;
  color: white;
}

/* Hover para inactivos */
.selection-buttons button:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Responsive */
@media (max-width: 480px) {
  .selection-buttons {
    max-width: 360px;
  }
  
  .selection-buttons button {
    font-size: 13px;
    padding: 8px 12px;
  }
}


h3 {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: justify;
}

h4 {
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: justify;
}

.producto-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-bottom: 40px; 
}

.producto-detalle {
  width: 100%;
}

.nombre-precio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4px;
  width: 100%;
}

.nombre-precio h4 {
  margin: 0;
  font-size: 15px;
  flex: 1;
  color: #3C3C3B;
  font-weight: bold;
}

.precio {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
}

.cantidad-control {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 4px 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10px;
}

/* .producto-detalle h4 {
  margin: 0 0 4px 0;
  font-size: 14px;
  font-weight: 400;
} */

.producto-img {
  width: 119.95px;
  height: 98px;
  border-radius: 16px;
  margin-right: 10px;
  object-fit: contain;
}

.cantidad-control {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 4px 8px;
}

.control-btn {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.cantidad {
  margin: 0 8px;
  font-size: 14px;
}


.subtotal, .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.total {
  margin-top: 8px;
  font-size: 15px;
}

.reiniciar-btn {
  text-align: center;
  color: #ff5252;
  text-decoration: underline;
  background: none;
  border: none;
  margin: 16px 0;
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
}

.confirmar-pedido-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 16px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirmar-pedido {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: inline-block;
  background-color: #3C3C3B;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.boton-deshabilitado {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #cccccc !important;
}

.carrito-vacio {
  text-align: center;
  margin: 32px 0;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrito-vacio p {
  margin-bottom: 16px;
}

.btn-carrito-vacio {
  text-align: center;
  margin: 32px 0;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volver-btn {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  padding: 8px 16px;
}

.mensaje-importante {
  background-color: #FFF8E1; /* Un color de fondo suave */
  border-left: 4px solid #FFCB30; /* Borde lateral amarillo */
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.mensaje-importante strong {
  color: #FF9800; /* Color de la palabra "Importante" */
}

/* Responsive styles */
@media (max-width: 768px) {
  .carrito-container {
    height: calc(100vh - 80px);
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .carrito-container {
    height: calc(100vh - 60px);
    padding: 12px;
  }
  
  .producto-img {
    width: 119.95px;
    height: 98px;
  }
}

.adiciones,
.exclusiones {
  margin: 4px 0 2px;
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

ul {
  padding-left: 1rem;
  margin: 0;
  font-size: 14px;
}

.direccion-input {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.direccion-input h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.direccion-input input {
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: inset 0 5px 2.6px -1px rgb(0 0 0 / 6%);
}

.direccion-input input::placeholder {
  /* padding: 12px; */
  color: #A8A8A8;
  font-size: 12px;
}

.direccion-input input:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

.direccion-input .input-addon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

/* Estilo para input inválido */
.direccion-input .invalid-input {
  border: 1px solid #ff3b30;
  background-color: #fff;
}

/* Mensaje de error */
.direccion-input .error-message {
  color: #ff3b30;
  font-size: 12px;
  padding-left: 20px;
}

.mensajeAdicional {
  color: #555;
  font-size: 12px;
  border-radius: 20px;
  padding: 11px;
  margin: 0 5px;
}

.mensajeAdicional:focus {
  outline: none; /* Elimina el contorno predeterminado del navegador */
  border: 1px solid #555; /* O el color que prefieras para el borde */
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.3); /* Opcional: añade un sutil efecto de sombra */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accordion-container {
  margin-top: 10px;
  background-color: transparent; /* Fondo transparente para el contenedor */
}

.accordion-container .mat-expansion-panel {
  background-color: #F1EDED; /* Color de fondo para cada panel */
  margin-bottom: 10px; /* Separaci贸n entre acordeones */
  border-radius: 8px; /* Opcional: bordes redondeados */
}

/* Si quieres quitar el borde predeterminado */
.accordion-container .mat-expansion-panel {
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave opcional */
}

::ng-deep .accordion-container .mat-expansion-panel-body {
  background-color: #FFFFFF !important;
  padding: 16px !important;
}

::ng-deep .accordion-container .mat-expansion-panel {
  box-shadow: none !important;
  border: none !important;
}

/* Aseg煤rate de que el t铆tulo tambi茅n tenga el mismo fondo */
.accordion-container .mat-expansion-panel-header {
  background-color: transparent !important;
}

.acordion-div {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 16px;
}

.input-container {
  position: relative;
  width: 100%;
}

.select-input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: inset 0 5px 2.6px -1px rgb(0 0 0 / 6%);
  appearance: none;
  padding-right: 40px;
  cursor: pointer;
  outline: none;
}

.select-container {
  position: relative;
}

.select-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
}

.mensajeAdicional {
  color: #555;
  font-size: 12px;
  border-radius: 20px;
  padding: 11px;
  margin: 0 5px;
  width: calc(100% - 10px);
  border: 1px solid #e0e0e0;
}

.mensajeAdicional:focus {
  outline: none;
  border: 1px solid #555;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.3);
}

.monto-field {
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: inset 0 5px 2.6px -1px rgb(0 0 0 / 6%);
  width: 92%;
}

.monto-field::placeholder {
  color: #A8A8A8;
  font-size: 12px;
}

.monto-field:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

/* Estilo si es inválido */
.monto-field.invalid-input {
  border: 1px solid #ff3b30;
  background-color: #fff;
}

.logo {
  width: 41px;
  height: 30px;
}

.advertencia-monto {
  color: #f39c12;
  font-size: 12px;
  margin-top: 4px;
}
