<app-splash-screen [class.hidden]="!showSplash"></app-splash-screen>

<div class="menu-container">
  <div class="header-menu" #headerMenu>
    <!-- 🔹 Encabezado -->
    <header class="menu-header">
      <div class="">
        <img src="../../../assets/categories/LogotipoN1.png" alt="Logotipo1" class="logo">
      </div>
      <h1>Nuestro menú</h1>
      <div class="carrito-container" (click)="canOrder && irAlCarrito()">
        <img src="assets/categories/carrito.png" alt="Carrito" class="carrito-icon">
        <span *ngIf="cantidadCarrito > 0" class="notificacion">{{ cantidadCarrito }}</span>
      </div>
    </header>
  
    <!-- 🔹 Botones de En restaurante / Para llevar -->
    <!-- <div class="selection-buttons">
      <button [class.active]="selectedType === 'restaurant'" (click)="setOrderType('restaurant')">En restaurante</button>
      <button [class.active]="selectedType === 'takeaway'" (click)="setOrderType('takeaway')">Para llevar</button>
    </div> -->
    <div class="search-wrapper">
      <span class="search-icon">
        <mat-icon>search</mat-icon>
      </span>
      <input
        class="search-input"
        type="text"
        placeholder="Buscar productos..."
        [(ngModel)]="searchTerm"
        (input)="onSearch($event)"
      />
    </div>
  
    <!-- Categorías -->
    <div class="categories-container">
      <div 
        *ngFor="let category of categories$ | async" 
        class="category-item"
        (click)="filterByCategory(category.name)">
        <img [src]="category.icon" [alt]="category.name" [ngClass]="{ 'selected-image': selectedCategory === category.name }">
        <span>{{ category.name }}</span>
      </div>
    </div>
  </div>

  <!-- 🔹 Productos -->
  <div class="products-container" #productsContainer>
    <div *ngFor="let product of filteredProducts$ | async" class="product-card">
      <img [src]="product.image" alt="{{ product.name }}">
      <div class="details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <span class="price">${{ product.price | number:'1.0-2' }}</span>
      </div>
      <button (click)="verDetalles(product)" class="add-to-cart" [disabled]="!canOrder"></button>
    </div>
  </div>

  <!-- 🔹 Botón "Ver carrito" (Se muestra solo si hay productos en el carrito) -->
  <button *ngIf="carrito.length > 0 && canOrder" class="boton-carrito" (click)="irAlCarrito()">
    <span class="">Ver pedido</span>
    <span class="">{{ total | currency:'COP':'$':'1.0-0' }}</span>
    <!-- 🛒 Ver carrito - {{ total | currency }} -->
  </button>

  <!-- Modal de horario cerrado -->
  <div *ngIf="showClosedModal" class="modal-overlay" (click)="closeModal()">
    <div class="closed-message" (click)="$event.stopPropagation()">
      <h3>Horario cerrado</h3>
      <p>Por el momento no hay servicio. Nuestro horario de atención es de 6:00 PM a 11:00 PM.</p>
      <button (click)="closeModal()">Entendido</button>
    </div>
  </div>
</div>
